
.*{
    margin: 0px;
    padding: 0px;
}
.box{
    height: 450px;
    width: 800px;
    border: 1px solid black;
    border-radius: 2px;
    margin: auto; 
}
.sec1{
    padding-top: 2px;
    padding:10px 10px;
}



